VITE_SUPABASE_URL=https://dnawokvfflxuiwdjkigx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRuYXdva3ZmZmx4dWl3ZGpraWd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNTg5MTcsImV4cCI6MjA5MzgzNDkxN30.APBkyob2gPrNLNZURR6drnrNAz9Pn7_3dwhqWCRCbYA

# Used only when deploying Supabase Edge Functions.
# Do not expose this in frontend code.
GROQ_API_KEY=your_groq_api_key_here
